@using MvcProjeKampiDeneme.Entity.Concrete
@model List<Content>
@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- /.tab-pane -->
                <!-- The timeline -->
                <div class="timeline">
                    @foreach (var item in Model)
                    {

                        <!-- timeline time label -->
                        <div class="time-label">
                            <span class="bg-success">
                                @item.ContentDate.ToShortDateString()
                            </span>
                        </div>
                        <div>
                            <i class="fas fa-comments bg-warning"></i>
                            <div class="timeline-item">
                                <span class="time"></span>

                                <h3 class="timeline-header"><a href="#">@item.Heading.HeadingName</a></h3>

                                <div class="timeline-body">
                                    @item.ContentValue
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>





